<form method="post" action="/articles">
    <label for="title">Enter article title: </label>
    <input type="text" id="title" name="title">
    <label for="content">Enter article content: </label>
    <textarea type="text" id="content" name="content"></textarea>
    <input type="submit" value="Add Article">
</form>